In [2]:
import numpy as np
import pandas as pd

In [3]:
song_meta = pd.read_json('C:/Users/user/Desktop/arena_melon/dataset/song_meta.json', typ='frame', encoding='utf-8')
train = pd.read_json('C:/Users/user/Desktop/arena_melon/dataset/train.json', typ='frame', encoding='utf-8')
results = pd.read_json('C:/Users/user/Desktop/arena_melon/dataset/results.json', typ='frame', encoding='utf-8')
val = pd.read_json('C:/Users/user/Desktop/arena_melon/dataset/val.json', typ='frame', encoding='utf-8')

In [ ]:
# train

In [ ]:
# results

In [13]:
a = val.iloc[0:2,]
b = val.iloc[[8]]
c = val.iloc[[11]]
d = pd.concat([a,b,c])
d

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[],118598,,"[373313, 151080, 275346, 696876, 165237, 52593...",1675,2019-05-27 14:14:33.000
1,[],131447,앨리스테이블,[],1,2014-07-16 15:24:24.000
8,[스트레스],80810,리듬타면서 빡시게 운동하자!!!(스트레스 날리자):},[],127,2017-02-09 17:33:45.000
11,"[아침, 눈, 크리스마스]",136650,,"[174132, 257367, 539802, 568691, 296891, 38471...",6,2017-11-24 11:26:05.000

In [15]:
d[['id','plylst_title','songs','tags']]

,id,plylst_title,songs,tags
0,118598,,"[373313, 151080, 275346, 696876, 165237, 52593...",[]
1,131447,앨리스테이블,[],[]
8,80810,리듬타면서 빡시게 운동하자!!!(스트레스 날리자):},[],[스트레스]
11,136650,,"[174132, 257367, 539802, 568691, 296891, 38471...","[아침, 눈, 크리스마스]"

In [16]:
for i in range(len(val)):
    
    # id 이름이 같다면
    if results.iloc[i,0] == val.iloc[i,1] :
        
        # 기존 val['tags']에 results['tags'] 추가
        val.iloc[i,0].extend(results.iloc[i,2])
        
        # 기존 val['song']에 results['songs'] 추가
        val.iloc[i,3].extend(results.iloc[i,1])

In [17]:
a = val.iloc[0:2,]
b = val.iloc[[8]]
c = val.iloc[[11]]
d = pd.concat([a,b,c])
d
d[['id','plylst_title','songs','tags']]

,id,plylst_title,songs,tags
0,118598,,"[373313, 151080, 275346, 696876, 165237, 52593...","[OST, 디즈니, 애니메이션, 픽사, 기분전환, disney, 디즈니OST, 영원..."
1,131447,앨리스테이블,"[549178, 348200, 140867, 298056, 394622, 42982...","[팝, 기분전환, 드라이브, 감성, 락, 힙합, 레이블, 힐링, 알앤비, 아이돌]"
8,80810,리듬타면서 빡시게 운동하자!!!(스트레스 날리자):},"[643498, 420396, 700850, 355939, 285157, 70475...","[스트레스, 기분전환, 운동, 댄스, 드라이브, 힙합, 클럽, 헬스, 여름, 일렉,..."
11,136650,,"[174132, 257367, 539802, 568691, 296891, 38471...","[아침, 눈, 크리스마스, 캐롤, 성탄절, 겨울, Christmas, 연말, Car..."

## VAL데이터와 RESULTS데이터 합치기

In [21]:
for i in range(len(val)):
    
    # id 이름이 같다면
    if results.iloc[i,0] == val.iloc[i,1] :
        
        # 기존 val['tags']에 results['tags'] 추가
        val.iloc[i,0].extend(results.iloc[i,2])
        
        # 기존 val['song']에 results['songs'] 추가
        val.iloc[i,3].extend(results.iloc[i,1])

In [22]:
val

,tags,id,plylst_title,songs,like_cnt,updt_date
0,"[OST, 디즈니, 애니메이션, 픽사, 기분전환, disney, 디즈니OST, 영원...",118598,,"[373313, 151080, 275346, 696876, 165237, 52593...",1675,2019-05-27 14:14:33.000
1,"[팝, 기분전환, 드라이브, 감성, 락, 힙합, 레이블, 힐링, 알앤비, 아이돌]",131447,앨리스테이블,"[549178, 348200, 140867, 298056, 394622, 42982...",1,2014-07-16 15:24:24.000
2,"[발라드, 기분전환, 감성, 휴식, 잔잔한, 드라이브, 힐링, 사랑, 새벽, 밤]",51464,,"[529437, 516103, 360067, 705713, 226062, 37089...",62,2008-06-21 23:26:22.000
3,"[이별, 발라드, 가을, 사랑, 감성, 카페, 잔잔한, 새벽감성, 가을비, 휴식]",45144,,"[589668, 21711, 570151, 320043, 13930, 599327,...",20,2017-10-30 18:15:43.000
4,"[CCM, 은혜로운, 사랑, 국내ccm, 파워DJ_CCM, 위로, 은혜, 잔잔한, ...",79929,,"[672718, 121924, 102694, 683657, 201558, 38511...",20,2017-02-07 11:40:42.000
...,...,...,...,...,...,...
23010,"[잔잔한, 추억, 회상, 힐링, 휴식, 새벽, 밤, 설렘, 사랑, 가을, 이별]",101722,,"[75842, 26083, 244183, 684715, 500593, 508608,...",17,2015-12-17 14:06:05.000
23011,"[어머니, 힘들때, 아빠, 가족, 위로받고싶을때, 부모님, 엄마, 어버이날, 사랑,...",122127,,"[450275, 487671, 561031, 663944, 628672, 59121...",10,2020-04-16 21:35:44.000
23012,"[Pop, 팝, 팝송, 기분전환, 비오는날, 드라이브, 좋아요, 흥, 카페, pop...",77438,,"[625875, 464051, 11657, 236393, 358186, 213435...",0,2019-03-27 15:27:40.000
23013,"[클래식, 힐링, 휴식, 잔잔한, playlist3, 공부, 기분전환, 감성, 발라...",36231,,"[161094, 665833, 688145, 432735, 439938, 12665...",31,2015-11-18 11:49:09.000
23014,"[봄, 봄노래, 설렘, 사랑, 봄날, 벚꽃, 드라이브, 여행, 기분전환, 잔잔한]",65189,,"[643070, 132994, 98223, 293236, 513129, 650494...",19,2017-04-23 16:50:58.000

## VAL데이터와 TRAIN데이터 합치기

In [23]:
# data = train.append(val, ignore_index=True)

In [26]:
# data
# data.info()

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19.000
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42.000
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34.000
3,"[연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...",147456,크리스마스 분위기에 흠뻑 취하고 싶을때,"[394031, 195524, 540149, 287984, 440773, 10033...",33,2019-12-05 15:15:18.000
4,[댄스],27616,추억의 노래 ㅋ,"[159327, 553610, 5130, 645103, 294435, 100657,...",9,2011-10-25 13:54:56.000
...,...,...,...,...,...,...
138081,"[잔잔한, 추억, 회상, 힐링, 휴식, 새벽, 밤, 설렘, 사랑, 가을, 이별]",101722,,"[75842, 26083, 244183, 684715, 500593, 508608,...",17,2015-12-17 14:06:05.000
138082,"[어머니, 힘들때, 아빠, 가족, 위로받고싶을때, 부모님, 엄마, 어버이날, 사랑,...",122127,,"[450275, 487671, 561031, 663944, 628672, 59121...",10,2020-04-16 21:35:44.000
138083,"[Pop, 팝, 팝송, 기분전환, 비오는날, 드라이브, 좋아요, 흥, 카페, pop...",77438,,"[625875, 464051, 11657, 236393, 358186, 213435...",0,2019-03-27 15:27:40.000
138084,"[클래식, 힐링, 휴식, 잔잔한, playlist3, 공부, 기분전환, 감성, 발라...",36231,,"[161094, 665833, 688145, 432735, 439938, 12665...",31,2015-11-18 11:49:09.000
138085,"[봄, 봄노래, 설렘, 사랑, 봄날, 벚꽃, 드라이브, 여행, 기분전환, 잔잔한]",65189,,"[643070, 132994, 98223, 293236, 513129, 650494...",19,2017-04-23 16:50:58.000

## like_cnt 1000개 이상 플레이리스트만 뽑아내기

In [10]:
data.describe()
# like_cnt >= 24 : 35158 플레이리스트
# like_cnt >= 100 : 16689 플레이리스트
# like_cnt >= 1000 : 2352 플레이리스트

                  id       like_cnt
count  138086.000000  138086.000000
mean    76729.721521      94.180866
std     44299.861318     552.813704
min         1.000000       0.000000
25%     38308.250000       2.000000
50%     76758.500000       7.000000
75%    115061.750000      24.000000
max    153428.000000   53211.000000

In [11]:
data_filter = data[data['like_cnt']>=1000]
# data_filter

In [12]:
# 2352 플레이리스트에 포함된 곡 수
print(len(sum(data_filter['songs'].tolist(), [])))
# 2352 플레이리스트에 포함된 중복제거한 곡 수
print(len(set(sum(data_filter['songs'].tolist(), []))))

231820
92986

In [13]:
# 2352 플레이리스트에 포함된 곡 id
select_song = list(set(sum(data_filter['songs'].tolist(), [])))
# select_song

## song_meta에서 song_id로 뽑아내기

In [14]:
song_meta_filter = song_meta[song_meta['id'].isin(select_song)]
song_meta_filter = song_meta_filter.reset_index(drop=True)

In [15]:
song_meta_filter

,song_gn_dtl_gnr_basket,issue_date,album_name,album_id,artist_id_basket,song_name,song_gn_gnr_basket,artist_name_basket,id
0,"[GN1102, GN1101]",20151016,Feeling Right (Everything Is Nice) (Feat. Popc...,2644882,[838543],Feeling Right (Everything Is Nice) (Feat. Popc...,[GN1100],[Matoma],3
1,[GN1201],20170407,Luv.Loops,10053652,[1625859],Hi (Heyoo),[GN1200],[Miraa.],10
2,[GN1301],20080610,Classic Masters,133952,[104493],Everything We Do (2002 Digital Remaster),[GN1300],[Rene & Angela],11
3,"[GN2704, GN1104, GN1103, GN1101]",20140728,Knock You Out (Remixes),2269860,[455705],Knock You Out,"[GN2700, GN1100]",[Bingo Players],14
4,"[GN0805, GN0501, GN0502, GN0801, GN0509]",20150205,내가 부른 그림 2,2303168,[230399],무얼 기다리나 (Feat. 조원선),"[GN0500, GN0800]",[이영훈],19
...,...,...,...,...,...,...,...,...,...
92981,"[GN0805, GN0801]",20120604,그저 그런 오후,2125663,[593714],그저 그런 오후,[GN0800],[소요],707927
92982,[GN0601],20141224,넥스트 신해철 Reboot Yourself,2296666,[845],Hope,[GN0600],[신해철],707932
92983,"[GN0702, GN0708, GN0701]",20200313,내일은 미스터트롯 결승전 베스트,10402513,[2763943],나는 남자다,[GN0700],[김희재],707949
92984,"[GN2704, GN1104, GN1103, GN1101]",20131008,Revolution,2210541,[487526],Biggie Bounce,"[GN2700, GN1100]",[Diplo],707964
92985,"[GN0105, GN0101]",20160120,행보 2015 윤종신 / 작사가 윤종신 Live Part.1,2662866,[437],스치듯 안녕,[GN0100],[윤종신],707986

In [16]:
song_meta_filter.to_csv('C:/Users/user/Desktop/final/song_meta_filter.csv', encoding='utf-8-sig')